body {
  padding: 0;
  margin: 0;
  background: -moz-linear-gradient(
    -45deg,
    #183850 0,
    #183850 25%,
    #192c46 50%,
    #22254c 75%,
    #22254c 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #183850 0,
    #183850 25%,
    #192c46 50%,
    #22254c 75%,
    #22254c 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrap {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media all and (max-width: 767px) {
}

@media all and (min-width: 768px) {
  .wrap {
    display: flex;
  }

  .chat-list-wrap {
    width: 30%;
  }

  .messages-input-wrap {
    width: 70%;
    padding-left: 40px;
  }
}
