$chat-button: url(https://brunolimawd.github.io/workshop-css-sass-ember/images/button-send.svg);

.chat-input {
  background: #accde7;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 60px;
  padding: 10px 6px 10px 16px;
  margin: 30px auto 0;
  border-radius: 5px;
}

.chat-input__message {
  border: none;
  border-radius: 20px;
  flex: 1 0 auto;
  padding: 10px 20px;
  outline: none;
  background-color: #ccc;
}

.chat-input__send {
  border: none;
  background: $chat-button no-repeat 50% 50%;
  cursor: pointer;
  flex: 0 0 45px;
  padding: 0 10px;
  text-indent: -999em;
}
